<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>{"ts":"%date{ISO8601}","level":"%level","logger":"%logger{36}","thread":"%thread","traceId":"%X{traceId}","requestId":"%X{requestId}","tenantId":"%X{tenantId}","projectId":"%X{projectId}","jobId":"%X{jobId}","workflowId":"%X{workflowId}","eventId":"%X{eventId}","errorCode":"%X{errorCode}","msg":"%replace(%msg){'"','\"'}"}%n</pattern>
    </encoder>
  </appender>
  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
